body {
    padding-top: 83px;
    font-family: 'Poppins', sans-serif;
}

.center-text {
    text-align: center;
}

nav p {
    margin: 16px;
    color: white;
    font-size: 34px;
}

div h3 {
    margin: 16px;
    font-size: 28px;
}

div title {
    margin-top: 16px;
}

footer {
    background: #f1f4f5;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

.btn {
    margin-top: 20px;
}
